<div class="map-wrapper">

  <div
    id="courier-map"
    class="map">
  </div>


  @if (loadingRoute) {

    <div class="route-info">
      Calculating route...
    </div>

  }


  @if (
    !loadingRoute &&
    routeDistanceKm !== null
  ) {

    <div class="route-info">

      <div>
        <strong>
          Route Distance:
        </strong>

        {{
          routeDistanceKm
            | number:'1.1-2'
        }}
        km
      </div>


      @if (
        routeDurationMinutes !== null
      ) {

        <div>

          <strong>
            Estimated Driving Time:
          </strong>

          {{
            routeDurationMinutes
              | number:'1.0-0'
          }}
          minutes

        </div>

      }

    </div>

  }


  @if (routeError) {

    <div class="route-error">

      {{ routeError }}

    </div>

  }

</div>